{% block content %}
<!-- Content goes here -->
<h2>POSTERS</h2>
<div class="row">    
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/poster1.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/poster2.jpg" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/poster3.jpg" alt="...">
    </a>
  </div><div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/poster4.jpg" alt="...">
    </a>
  </div> 
</div>
<h2>LOGOS</h2>
<div class="row">    
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/logo1.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/logo2.png" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/logo3.png" alt="...">
    </a>
  </div><div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/logo4.jpg" alt="...">
    </a>
  </div> 
</div>
<h2>DTP</h2>
<div class="row">    
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/Flyer1.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/Flyer2.jpg" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/Flyer3.jpg" alt="...">
    </a>
  </div><div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/static/img/Flyer4.jpg" alt="...">
    </a>
  </div> 
</div>
{% endblock %}