{% block content %}
<!-- Content goes here -->
<!-- 16:9 aspect ratio -->
<h1>Video Work</h1>
<div class="row">
		<div class="col-lg-3 col-sm-4 col-6">
			<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ezfVTuW1GnA" frameborder="0"></iframe>
</div>
			
		</div>


		<div class="col-lg-3 col-sm-4 col-6">
		<iframe width='400' height='230' src='https://www.youtube.com/embed/swkKlwr9xRQ' frameborder='0'></iframe>
		</div>


		<div class="col-lg-3 col-sm-4 col-6">
		  <iframe width='400' height='230' src='https://www.youtube.com/embed/3L-m_LL_4pU' frameborder='0'></iframe>
		</div>


		<div class="col-lg-3 col-sm-4 col-6">
		  <iframe width='400' height='230' src='https://www.youtube.com/embed/xGL_4bJZTkA' frameborder='0'></iframe>
		</div>
</div>

<!--
<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ezfVTuW1GnA" frameborder="0"></iframe>
</div>
<br><br><br><br>

<div class="embed-responsive embed-responsive-4by3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BQ6hqBBoFDA" frameborder="0"></iframe>
</div>
<br><br><br><br>

<div class="embed-responsive embed-responsive-4by3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3L-m_LL_4pU" frameborder="0"></iframe>
</div>
<br><br><br><br>

<div class="embed-responsive embed-responsive-4by3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xGL_4bJZTkA" frameborder="0"></iframe>
</div>
<br><br><br><br>

<div class="embed-responsive embed-responsive-4by3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/swkKlwr9xRQ" frameborder="0"></iframe>
</div>
 -->
{% endblock %}